{
  "$schema": "https://openapi.vercel.sh/vercel.json",
  "buildCommand": "<PACKAGE_MANAGER> exec vitepress build docs",
  "outputDirectory": "docs/.vitepress/dist",
  "installCommand": "<PACKAGE_MANAGER> install --frozen-lockfile",
  "framework": null
}
